{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    {% if number %}<h1>Number {{number}} has been requested {{ds|count}} time(s)!</h1> {% endif %}
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
{% if ds|count %}
<ul class="posts">
    {% for d in ds %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">{{ moment(d.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}</div>
            <div class="post-value">Difference Value: {{ d.value }}</div>
            <div class="post-body">Number: {{ d.number }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
